body, html
{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

.header {
    background: 
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
      url("download.jpeg");
    background-size: 600px;
    background-position: center;
    height: 50vh;
    margin-top: -27px;
}




