body, html
{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

.header {
    background: 
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(58, 58, 58, 0.7)), 
      url("hockey.jpeg");
    background-size: 2000px;
    background-position: center;
    height: 60vh;
    margin-top: -27px;
    width: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    color: rgb(224, 224, 224); 
    text-align: center;
    text-shadow: 0.5px 0.5px 10px rgb(93, 147, 162);
}

.header h1 
{
    margin-top: 150px;
}

.header .TopBar {
    background-color: aliceblue;
    background-size: 100px;
    border-radius: 4px;
    margin-top: -3px;
    color: black;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

}

.TopBar h1
{
    margin-top: 0px;
    text-shadow: 0px 5px 15px rgb(0, 25, 32);
}

.content .intro {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between; 
    padding: 40px;
    gap: 40px; 
}

.content .intro p {
    flex: 1; 
    max-width: 600px;
}

.content .intro img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}
